*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
}
#root{
  width: 1200px;
  min-height: 100vh;
  border: solid 1px black;
}

/* Header */
nav{

}

nav ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}
nav ul li{

  padding: 0px 20px;
}
/* Inventory */